<include file="./Public/Webform/Nav/header.html" title="资料维护" />
<div id="wrapper">
    <include file="./Public/Webform/Nav/topnav.html" actuser="layui-this"/>
    <include file="./Public/Webform/User/leftnav.html" actaccount="class=layui-this"/>
    <div class="layui-tab layui-tab-brief tab-div-withnav" lay-filter="usertab">
        <ul class="layui-tab-title">
            <li class="layui-this">基本信息</li>
            <li>修改密码</li>
            <li>修改其他信息</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>用户个人信息</legend>
                </fieldset>
                <div class="layui-form layui-form-pane" style="padding-top: 20px;">
                    <div class="layui-form-item">
                        <label class="layui-form-label">一卡通卡号</label>
                        <div class="layui-input-block">
                            <label class="layui-form-label" id="useraccount-cardid">123</label>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">真实姓名</label>
                        <div class="layui-input-block">
                            <label class="layui-form-label" id="useraccount-name">abcdddddddddddddd</label>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">所属年级</label>
                        <div class="layui-input-block">
                            <label class="layui-form-label" id="useraccount-grade">2000</label>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">用户组</label>
                        <div class="layui-input-block">
                            <label class="layui-form-label" id="useraccount-rank">学生</label>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">注册时间</label>
                        <div class="layui-input-block">
                            <label class="layui-form-label" id="useraccount-regtime">2000.00.00 00:00:00</label>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">最近登录</label>
                        <div class="layui-input-block">
                            <label class="layui-form-label" id="useraccount-rectime">2000.00.00 00:00:00</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-tab-item">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>修改密码</legend>
                </fieldset>
                <form id="useraccount-changepsw" class="layui-form layui-form-pane" method="post" style="padding-top: 20px;">
                    <div class="layui-form-item">
                        <label class="layui-form-label">一卡通卡号</label>
                        <div class="layui-input-block">
                            <label class="layui-form-label" id="fcardaccount">123</label>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <a class="layui-btn" style="width:100px;" id="fgetquestion" onclick="forget.getquestion();">获取问题</a>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">问题</label>
                        <div class="layui-input-block">
                            <label class="layui-form-label" id="fshowquestion" style="width: auto;">请点击“获取问题”按钮获取</label>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">答案</label>
                        <div class="layui-input-inline">
                            <input placeholder="Checking Answer" disabled="disabled" name="fanswer" type="text" class="layui-input"/>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">密码</label>
                        <div class="layui-input-inline">
                            <input placeholder="Login Password" disabled="disabled" name="fpassword" type="password" class="layui-input"/>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">重复密码</label>
                        <div class="layui-input-inline">
                            <input placeholder="Login Password Again" disabled="disabled" name="fpassword2" type="password" class="layui-input" />
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <a class="layui-btn layui-btn-disabled" id="fresetpsw" style="width:110px;">更改密码</a>
                    </div>
                </form>
            </div>
            <div class="layui-tab-item">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>更改其他信息</legend>
                </fieldset>
                <div class="label">
                    注意：不需要修改的部分请保持空白，不要填写数据，避免系统误修改。
                </div>
                <form id="useraccount-changeothers" class="layui-form layui-form-pane" method="post" style="padding-top: 20px;">
                    <div class="layui-form-item">
                        <label class="layui-form-label">一卡通卡号</label>
                        <div class="layui-input-block">
                            <label class="layui-form-label" id="useraccount-rcardid">123</label>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">真实姓名</label>
                        <div class="layui-input-inline">
                            <input placeholder="Real Name" name="useraccount-rname" type="text" class="layui-input" />
                        </div>
                        <div class="layui-form-mid layui-word-aux">
                            请填写真实姓名，以便讨论时识别身份以及进行作业登记
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">年级</label>
                        <div class="layui-input-inline">
                            <select name="rgrade" lay-verify="required">
                                <option value="" selected="selected">请选择</option>
                            </select>
                        </div>
                        <div class="layui-form-mid layui-word-aux">
                            年级为4位数，默认为学号前4位
                        </div>
                    </div>
                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
                        <legend>更改找回账号相关信息</legend>
                    </fieldset>
                    <div class="layui-form-item">
                        <label class="layui-form-label">授权码</label>
                        <div class="layui-input-inline">
                            <input placeholder="FindPsw ResetCode" name="useraccount-resetcode" type="text" class="layui-input" />
                        </div>
                        <div class="layui-form-mid layui-word-aux">
                            <a href="javascript:;" onclick="getresetcode()">如何获取？</a>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">问题</label>
                        <div class="layui-input-inline">
                            <input placeholder="FindPsw Question" name="useraccount-rquestion" type="text" class="layui-input" />
                        </div>
                        <div class="layui-form-mid layui-word-aux">
                            用于忘记密码时作为确认的问题，请控制在20个字内
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">答案</label>
                        <div class="layui-input-inline">
                            <input placeholder="FindPsw Answer" name="useraccount-ranswer" type="text" class="layui-input" />
                        </div>
                        <div class="layui-form-mid layui-word-aux">
                            用于忘记密码时作为确认的问题答案，请控制在20个字内
                        </div>
                    </div>
                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
                        <legend>确认更改</legend>
                    </fieldset>
                    <div class="layui-form-item">
                        <label class="layui-form-label">密码</label>
                        <div class="layui-input-inline">
                            <input placeholder="Login Password" name="useraccount-rpassword" type="password" class="layui-input" />
                        </div>
                        <div class="layui-form-mid layui-word-aux">
                            请输入用户密码，作为修改的确认依据
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <a class="layui-btn" id="useraccount-resetsub" style="width:110px;" onclick="userprofilereset()">修改</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<include file="./Public/Webform/User/footer.html" />
<script src="/Public/js/login.js"></script>
<script>
    $(document).ready(function () {
       initUserProfile();
    });
    function initUserProfile() {
        loading.show();
        $.post(user_api.user_profile, null, function (r) {
            loading.end();
            if(r.status == 0) {
                msg.show('获取当前登录用户信息失败');
            }
            if(r.status == 1){
                var data = r.data;
                //填充基本信息
                $('#useraccount-cardid').text(data['cardid']);
                $('#useraccount-name').text(data['name']);
                $('#useraccount-grade').text(data['grade']);
                $('#useraccount-rank').text(data['rootrank']);
                $('#useraccount-regtime').text(data['regtime']);
                $('#useraccount-rectime').text(data['logintime']);
                //修改密码
                $('#fcardaccount').text(data['cardid']);
                //修改其他信息
                $('#useraccount-rcardid').text(data['cardid']);
                $('input[name="useraccount-rname"]').val(data['name']);
                $('select[name="rgrade"]').val(data['grade']);
            }
        },"JSON");
    }
    function userprofilereset() {
        loading.show();
        var name = $('input[name="useraccount-rname"]').val();
        var grade = $('select[name="rgrade"]').val();
        var psw = $('input[name="useraccount-rpassword"]').val();
        var code = $('input[name="useraccount-resetcode"]').val();
        var que = $('input[name="useraccount-rquestion"]').val();
        var ans = $('input[name="useraccount-ranswer"]').val();
        public.isnull(psw, '确认密码');
        public.isnull(name, '姓名');
        public.isnull(grade, '年级');
        if(grade.length != 4) {
            loading.end();
            dialog.error('年级必须为4位数');
            exit();
        }
        if(code != ""){
            public.isnull(que, '找回密码问题');
            public.isnull(ans, '找回问题答案');
            if(que.length > 60 || ans.length > 60) {
                loading.end();
                dialog.error('问题或者答案超过规定数目字符');
                exit();
            }
            $.post(user_api.user_code_check, {"code": code},function (r) {
                if(r.status == 0){
                    loading.end();
                    return dialog.error('授权码无效，请检查输入是否正确');
                }
            },"JSON");
        }
        $.post(user_api.user_edit_profile, {"name":name,"grade":grade,"psw":psw}, function (r) {
            if(r.status == 0){
                loading.end();
                return dialog.error('更新基本信息失败，请检查输入，错误消息：' + r.message);
            }
            if(r.status == 1){
                if(code != ""){
                    $.post(user_api.user_edit_findpsw, {"code":code,"que":que,"ans":ans}, function (ret) {
                        loading.end();
                        if(ret.status == 0){
                            return dialog.success('更新基本信息成功，找回账号部分更改失败，原因：'+ret.message, '/user/account');
                        }
                        if(ret.status == 1){
                            return dialog.success('更新基本信息成功，找回账号部分更改成功', '/user/account');
                        }
                    },"JSON");
                } else{
                    loading.end();
                    return dialog.success('更新基本信息成功，找回账号部分未作修改', '/user/account');
                }
            }
        },"JSON");
        loading.end();
    }
</script>