<include file="./Public/Webform/Nav/header.html" title="消息中心" />
<div id="wrapper">
    <include file="./Public/Webform/Nav/topnav.html" actuser="layui-this"/>
    <include file="./Public/Webform/User/leftnav.html" actnotice="class=layui-this"/>
    <div class="layui-tab layui-tab-brief tab-div-withnav" lay-filter="usertab">

    </div>
</div>

<include file="./Public/Webform/User/footer.html" />
<script>
    $(document).ready(function () {
        if($.hash('id') && $.hash('read')){
            var id = $.hash('id');
            var read = $.hash('read');
            if(read!=0 && read!=1){
                jumpback();
            }
            $.post(user_api.notice_readstatus, {'id':id,'status':read}, function (r) {
                if(r.status == 1){
                    return dialog.success('更改消息状态成功', '/user/notice');
                }
                if(r.status == 0){
                    return dialog.errorto(r.message, '/user/notice');
                }
            },'JSON');
        } else{
            jumpback();
        }
    });
    function jumpback() {
        return dialog.errorto('非法操作：没有指定操作', '/user/notice');
    }
</script>