<include file="./Public/Webform/Nav/header.html" title="个人作业管理" />
<link href="/Public/css/table-bootstrap.min.css" rel="stylesheet" type="text/css">
<div id="wrapper">
    <include file="./Public/Webform/Admin/topnav.html"/>
    <include file="./Public/Webform/Admin/leftnav.html" acthwpers="class=layui-this"/>
    <div class="tab-div-withnav">
        <div class="panel panel-default div-navtop"><div class="panel-heading">
            您现在所处位置：
            <span class="layui-breadcrumb">
                <a href="/admin">后台首页</a>
                <a href="/admin/hw/personlist">个人作业管理</a>
            </span>
        </div></div>
        <div class="div-container">
            <div class="panel panel-default">
                <div class="panel-body">
                    当前系统已注册用户数（已除去老师）：<span id="regpersonnum"></span>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover">
                        <thead><tr>
                            <td>#</td>
                            <td>作业标题</td>
                            <td>上交人数</td>
                            <td>查看</td>
                        </tr></thead>
                        <tbody id="admin-grouphw-showlist">
                        <tr>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>
                                <a class="layui-btn layui-btn-danger td-btn"><i class="layui-icon">&#x1006;</i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="panel-footer div-footer-pages">
                        <div id="admin-grouphw-pager"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<include file="./Public/Webform/Admin/footer.html" />
<script>
    $(document).ready(function () {
        $.post(admin_api.user_num, null, function (r) {
            if(r.status == 1) {
                $('#regpersonnum').html(r.data);
            }
            if(r.status == 0) {
                return msg.show('获取当前年级注册人数失败');
            }
        },"JSON");
        $.post(user_api.hw_person_pages, null, function (r) {
            if(r.status == 1){
                pagelist(location.hash.replace('#!page=', '') || 1, r.data);
            }
            if(r.status == 0){
                msg.show('获取分页总数失败');
                exit();
            }
        },"JSON");
    });
    function pagelist(curr, pages) {
        var query = {"page": parseInt(curr) || 1};
        $.post(admin_api.hw_person_list_handin, query, function (r) {
            if(r.status == 0){
                msg.show('获取列表数据失败');
                exit();
            }
            if(r.status == 1){
                var tbody = $("#admin-grouphw-showlist");
                tbody.html("");
                $.each(r.data, function (index, obj) {
                    tbody.append($('<tr />')
                        .append($('<td />').html(obj.themeid))
                        .append($('<td />').html(obj.showname))
                        .append($('<td />').html(obj.handin))
                        .append($('<td />').append('<a class="layui-btn td-btn" href="/admin/hw/person#;tid='+obj.themeid+'">' +
                            '<i class="layui-icon">&#xe629;</i></a>'))
                    )
                })
            }
        },'JSON');
        layui.use('laypage', function(){
            var laypage = layui.laypage;
            laypage({
                cont: 'admin-grouphw-pager'
                ,pages: pages
                ,curr: curr//获取hash值为fenye的当前页
                ,hash: 'page' //自定义hash值
                ,jump: function (e, first) {
                    if(!first){
                        pagelist(e.curr, e.pages);
                    }
                },
                skip: true
            });
        });
    }

</script>